@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(#E1F0DA, #ffffff) !important; */
    background-color: #f3eeea !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif !important;
}

.allHeadings{
    color: #685648;
    font-size: 40px;
}

.allDescriptions{
    color: #685648;
    font-size: 18px;
}

.subHeadings{
    color: #685648;
    font-size: 25px;
}

.subDescriptions{
    color: #685648;
    font-size: 15px;
}

/* Top-nav */
.top-nav{
    background-color: black;
}

.top-nav-details {
    font-size: 30px;
    
}

.top-nav-details a {
    color: #685648;
    padding: 30px 0;
    margin: 0 50px;
}

@media screen and (max-width: 780px) {
    .top-nav {
        display: none;
    }
}

.navbar-brand{
    color: #685648 !important;
}

/* Nav-bar */
.nav-bar {
    background-color: #f3eeea;
    font-size: 15px;
}

.nav-bar ul a {
    color: #685648 !important;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.nav-bar ul a:hover {
    color: white !important;
    background-color: #685648;
    border-radius: 4px;
}

/* Homepage */
/* .homepage { */
    /* background: url("./img/background.png"); */
    /* background: url("./img/bg.png"); */
    /* background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.text1, .text3 {
    color: #685648;
    font-size: 20px;
    font-weight: 400;
}

.text2 {
    color: #685648;
    font-size: 70px;
    font-weight: 400;
}

.text4{
    color: rgba(104,86,72,0.75);
    font-size: 70px;
    font-weight: 400;
}

.centered-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 85vh;
    /* border: 1px solid black; */
  }

.text-container {
    /* height: 80vh; */
    margin: 0px 95px;
    /* text-align: center; */
    /* border: 1px solid black; */
}

/* About */
.about .links {
    text-decoration: none;
    background-color: #f3eeea;
    border: 2px solid #685648;
    padding: 10px;
    border-radius: 5px;
    color: #685648;
    transition: 0.4s;
}

.about .links:hover {
    background-color: #685648;
    color: white;
}

.section-margin {
    margin: 50px 0
}

/* Projects */
.projects img {
    height: 150px;
}

.projects .btn {
    text-decoration: none;
    background-color: #f3eeea;
    border: 2px solid #685648;
    padding: 10px;
    border-radius: 5px;
    color: #685648;
    width: 100%;
    transition: 0.4s;
}

.projects .btn:hover,
.projects .btn2:hover,
.projects .btn3:hover{
    background-color: #685648;
    color: white;
}

.projects .btn2, .btn3 {
    text-decoration: none;
    background-color: #f3eeea;
    border: 2px solid #685648;
    padding: 10px;
    border-radius: 5px;
    color: #685648;
    width: 15%;
    transition: 0.4s;
    margin: 0;
    position: relative;
    left: 43%;
}

.projects .btn3{
    display: none;
}

.project{
    display: none;
}

.link {
    margin-top: 10px;
    font-size: 13px;
}

.hidden{
    visibility: hidden;
}

/* Misc */
.misc .misc-group {
    background-color: white;
}

.misc img {
    height: 300px;
}

@media screen and (max-width: 1200px) {
    .contact .left h1 {
        font-size: 30px;
    }

    .contact .left p {
        font-size: 15px;
    }

    .contact .right span,
    a {
        font-size: 13px;
    }
}

@media screen and (max-width: 992px) {
    nav .container button {
        background-color: white;
    }

    .homepage {
        height: 400px;
    }

    .buttons{
        width: 100%;
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {

    .text1,
    .text3 {
        font-size: 25px;
        font-weight: 400;
    }

    .text2 {
        font-size: 60px;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {

    .text1,
    .text3 {
        font-size: 20px;
        font-weight: 400;
    }

    .text2 {
        font-size: 50px;
        font-weight: 400;
    }

    .buttons{
        font-size: 10px;
    }
}

@media screen and (max-width: 530px){
    .buttons{
        font-size: 9px;
    }    
}

@media screen and (max-width: 510px) {
    .homepage {
        height: 400px;
        background-position: 600px;
    }

    .text1,
    .text3 {
        font-size: 15px;
        font-weight: 400;
    }

    .text2 {
        font-size: 40px;
        font-weight: 400;
    }
}

@media screen and (max-width: 495px){
    .buttons{
        font-size: 9px;
    }    
}

@media screen and (max-width: 480px) {
    .homepage {
        background-position: 500px;
    }

    .text1,
    .text3 {
        font-size: 15px;
        font-weight: 400;
    }

    .text2 {
        font-size: 30px;
        font-weight: 400;
    }

    .contact .right span,
    a {
        font-size: 11px;
    }

    .contact .right i {
        font-size: 11px;
        padding: 7px;
    }


}

@media screen and (max-width: 420px) {
    .homepage {
        height: 300px;
        background-position: 450px;
    }
}

@media screen and (max-width: 1000px) {

    .fa{
        visibility: hidden;
    }
    
    .text1,
    .text3 {
        font-size: 12px;
        font-weight: 400;
    }

    .text2 {
        font-size: 20px;
        font-weight: 400;
    }

    .text4{
        font-size: 28px;
    }
}

@media screen and (max-width: 315px) {
    .homepage {
        background-position: 320px;
    }
}

/* Contact */
.contact .fa {
    color: #f3eeea;
    background-color: #685648;
    padding: 15px;
    border-radius: 30px;
}

.contact .fa {
    color: #f3eeea;
    background-color: #685648;
    padding: 15px;
    border-radius: 30px;
}



hr {
    visibility: hidden;
}

.contact a {
    color: #685648;
}

.bullet{
    font-size: 20px;
    display: inline-block;
}

.skills h5{
    display: inline-block;
}

.card-text{
    font-size: 13px;
}

.list{
    font-weight: 500;
}

.companyDetails{
    color: #685648;
    font-size: 13px;
    line-height: 0%;
    font-style: italic;
}

.card-text-weight{
    font-weight: 350;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
}


/* .centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .corner-blob {
    width: 700px;
    height: 600px;
    text-align: center;
    padding: 20px;
    background-color: #294B29;
    border-radius: 60% 40% 30% 70% / 60% 70% 30% 40%;
    display: inline-flex;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  @keyframes animate{
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 70% 30% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }  */
